{{ $sections := .Page.Resources.Match "sections/*.md" }}

<div class="collaborations-table-of-contents container margin-bottom-60">
        <ul class="table-of-contents-links">
            {{ range $index, $section := $sections }}
                <li class="eclipsefdn-rollover-link table-of-contents-link-item" data-hash-id="#{{ $section.Params.section_id }}">
                    <div class="table-of-contents-link text-center" href="#{{ $section.Params.section_id }}">
                        <p class="table-of-contents-link-heading">{{ add $index 1 }}</p>
                        <div class="table-of-contents-rollover table-of-contents-rollover-md">
                            <p class="link-drop-content">{{ $section.Title }}</p>
                            <div class="link-drop-angle-container">
                                <div class="link-drop-angle"></div>
                            </div>
                        </div>
                    </div>
                </li>
            {{ end }}
        </ul>
        <div class="table-of-contents-rollover-xs table-of-contents-rollover">
            <a class="table-of-contents-rollover-link"></a>
        </div>
</div>