<div class="background-light-grey overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 dark specifications-bg match-height-item-by-row">
        <div class="specifications-bg-content">
          <h2>Specifications</h2>
          <p>The Eclipse Foundation facilitates the development of code-first, open specifications that enable the compatibility, interoperability, and sustainability of both proprietary and open source independent implementations.</p>
          <p>Specifications at the Eclipse Foundation are developed through the <a href="https://www.eclipse.org/projects/efsp/">Eclipse Foundation Specification Process (EFSP)</a>. The EFSP provides a defined, structured, and <a href="/projects/efsp/ip-flows.php">trusted legal framework</a> and governance process for the development of royalty-free open specifications based on mature open source processes. The EFSP allows the community to develop specifications in a vendor neutral, community-driven way.</p>
          <p>All specifications produced under the EFSP are designed to enable independent implementations in any open source or commercial application.</p>
        </div>
      </div>
      <div class="col-sm-14 col-sm-offset-2 match-height-item-by-row padding-top-40 specifications-icons">
        <h2>A Proven Approach</h2>
        <div class="row">
          <div class="col-sm-12 margin-bottom-20">
            <div class="row">
              <div class="col-sm-6">
                <div class="icon-orange-label">
                  <img class="img-responsive" src="/specifications/images/icons/community.png" alt="">
                </div>
              </div>

              <div class="col-sm-18">
                <h3 class="h4">Community Driven</h3>
                <p>Our specification process is designed to be inclusive of everyone from the largest corporations to motivated individuals.&nbsp;</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 margin-bottom-20">
            <div class="row">
              <div class="col-sm-6">
                <div class="icon-orange-label">
                  <img class="img-responsive" src="/specifications/images/icons/flexible.png" alt="">
                </div>
              </div>
              <div class="col-sm-18">
                <h3 class="h4">Flexible</h3>
                <p>Specifications allow implementations to have the highest degree of flexibility and interchangeability for adjustments, enhancements, replacements, and upgrades.</p>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-sm-12 margin-bottom-20">
            <div class="row">
              <div class="col-sm-6">
                <div class="icon-orange-label">
                  <img class="img-responsive" src="/specifications/images/icons/ecosystem.png" alt="">
                </div>
              </div>
              <div class="col-sm-18">
                <h3 class="h4">Ecosystem Enablement</h3>
                <p>Our specification processes enable independent implementations under both proprietary and open source licensing models.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 margin-bottom-20">
            <div class="row">
              <div class="col-sm-6">
                <div class="icon-orange-label">
                  <img class="img-responsive" src="/specifications/images/icons/investprotection.png" alt="">
                </div>
              </div>
              <div class="col-sm-18">
                <h3 class="h4">Investment Protection</h3>
                <p>Specifications reduce the risk of vendor lock-in by ensuring implementations meet compatibility and interoperability requirements.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 margin-bottom-20">
            <div class="row">
              <div class="col-sm-6">
                <div class="icon-orange-label">
                  <img class="img-responsive" src="/specifications/images/icons/vendor.png" alt="">
                </div>
              </div>
              <div class="col-sm-18">
                <h3 class="h4">Vendor Neutral</h3>
                <p>Open and transparent development processes allow individuals and organizations to collaborate on specifications. Well-documented governance policies and processes ensure that the results are developed and delivered in a vendor neutral manner.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 margin-bottom-20">
            <div class="row">
              <div class="col-sm-6">
                <div class="icon-orange-label">
                  <img class="img-responsive" src="/specifications/images/icons/opensource.png" alt="">
                </div>
              </div>
              <div class="col-sm-18">
                <h3 class="h4">Open Source</h3>
                <p>The EFSP complies with the <a href="https://opensource.org/osr">Open Standards Requirement for Software</a> established by the Open Source Initiative, ensuring that all Eclipse Foundation specifications can be implemented in open source.</p>
              </div>
            </div>
          </div>
          
        </div>
        
        <div class="row">
          <div class="col-sm-12 margin-bottom-20">
            <div class="row">
              <div class="col-sm-6">
                <div class="icon-orange-label">
                  <img class="img-responsive" src="/specifications/images/icons/proven.png" alt="">
                </div>
              </div>
              <div class="col-sm-18">
                <h3 class="h4">Proven</h3>
                <p>The EFSP is built on more than 17 years of open source stewardship and used by multi-billion-dollar ecosystems.&nbsp;</p>
              </div>
            </div>
          </div>

          <div class="col-sm-12 margin-bottom-20">
            <div class="row">
              <div class="col-sm-6">
                <div class="icon-orange-label">
                  <img class="img-responsive" src="/specifications/images/icons/branding.png" alt="">
                </div>
              </div>
              <div class="col-sm-18">
                <h3 class="h4">Compatibility and Branding</h3>
                <p>The EFSP allows for the development of a compatibility brand. Established compatibility brands clearly identify the compatibility, interoperability, and sustainability of production-ready open source and commercial implementations.</p>
              </div>
            </div>
          </div>
          
        </div>
        <p><a class="btn btn-black margin-bottom-40" href="/projects/efsp/operations.php">Find out more</a></p>
      </div>
    </div>
  </div>
</div>

<div class="specifications-wg">
  <div class="container padding-top-40">

    <h2 class="margin-bottom-30">Current Initiatives</h2>
    <div class="row specifications-wg-item">
      <div class="col-sm-8 specifications-wg-item-img match-height-item-by-row vertical-align-container">
        <a href="https://jakarta.ee/about/jesp/"><img class="img-responsive" src="/specifications/images/logos/jakarta-ee-logo.png" alt="Jakarta EE"></a>
      </div>
      <div class="col-sm-16">
        <div class="specifications-wg-item-content  match-height-item-by-row">
          <p><a href="https://jakarta.ee/about/jesp/">Jakarta EE</a></p>
          <p>The industry-leading specification for developing enterprise and cloud native java applications.</p>
        </div>
      </div>
    </div>
  
    <div class="row specifications-wg-item">
      <div class="col-sm-8 specifications-wg-item-img match-height-item-by-row vertical-align-container">
        <a href="https://microprofile.io/"><img class="img-responsive" src="/specifications/images/logos/microprofile-logo.png" alt="Jakarta EE"></a>
      </div>
      <div class="col-sm-16">
        <div class="specifications-wg-item-content match-height-item-by-row">
          <p><a href="https://microprofile.io/">MicroProfile</a></p>
          <p>An open forum to optimize Enterprise Java for a microservices architecture.</p>  
        </div>
      </div>
    </div>
  
    <div class="row specifications-wg-item">
      <div class="col-sm-8 specifications-wg-item-img match-height-item-by-row vertical-align-container">
        <a href="https://asciidoc-wg.eclipse.org/"><img class="img-responsive" src="/specifications/images/logos/asciidoc-logo.png" alt="Jakarta EE"></a>
      </div>
      <div class="col-sm-16">
        <div class="specifications-wg-item-content match-height-item-by-row">
          <p><a href="https://asciidoc-wg.eclipse.org/">AsciiDoc</a></p>
          <p>Specifications for the AsciiDoc language and the APIs processing it.</p>
        </div>
      </div>
    </div>
  
    <div class="row specifications-wg-item">
      <div class="col-sm-8 specifications-wg-item-img match-height-item-by-row vertical-align-container">
        <a href="https://sparkplug.eclipse.org/"><img class="img-responsive" src="/specifications/images/logos/sparkplug-logo.png" alt="Jakarta EE"></a>
      </div>
      <div class="col-sm-16">
        <div class="specifications-wg-item-content match-height-item-by-row">
          <p><a href="https://sparkplug.eclipse.org/">Sparkplug</a></p>
          <p>Provides MQTT clients the framework to seamlessly integrate industrial machine data from their applications, sensors, devices, and gateways within the MQTT Infrastructure.</p>
        </div>
      </div>
    </div>
  
    <div class="row specifications-wg-item">
      <div class="col-sm-8 specifications-wg-item-img match-height-item-by-row vertical-align-container">
        <a href="https://www.osgi.org/"><img class="img-responsive" src="/specifications/images/logos/osgi-alliance-logo.svg" alt="Jakarta EE" width="150"></a>
      </div>
      <div class="col-sm-16">
        <div class="specifications-wg-item-content match-height-item-by-row">
          <p><a href="https://www.osgi.org/">OSGi</a></p>
          <p>Specifications that enable development, deployment, and management of embedded, server-side, and cloud native applications.</p>
        </div>
      </div>
    </div>
  </div>
</div>
