/**
 * Copyright (c) 2024 Eclipse Foundation and others.
 *
 * This program and the accompanying materials are made
 * available under the terms of the Eclipse Public License 2.0
 * which is available at https://www.eclipse.org/legal/epl-2.0/
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.html-content {
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  margin: 5px;

  h2 {
    margin-top: 0;
    font-size: 120%;
    border-style: none;
    font-size: 120%;
  }

  h3 {
    font-size: 110%;
    border-style: none;
  }
}