<div class="col-sm-8 col-xs-24 match-height-item margin-bottom-60">
  <h3 class="margin-bottom-30">{{title}}</h3>
  <div class="featured-card {{class}}">
    <div class="featured-card-img-wrapper">
      <img class="featured-card-img" src="{{image}}" alt="" />
    </div>
    <div class="featured-card-details">
      <div class="featured-card-details-item featured-card-details-item-highlighted">
        <div class="featured-card-details-item-content">
          {{#emphasizedText}}
            <strong>{{emphasizedText}}</strong>
            {{#text}}
              |
            {{/text}}
          {{/emphasizedText}}
          {{#text}}
            {{text}}
          {{/text}}
        </div>
      </div>
      <a class="featured-card-details-item" href="{{link}}">
        {{ctaText}}
      </a>
    </div>
  </div>
</div>

