/*
 * Copyright (c) 2020,2022 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Eric Poirier <eric@eclipse.org>
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/astro/main.less';

.header-europe-bg-img .featured-jumbotron {
  background-image: url(../../../content/europe/images/eu-jumbotron-final.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.featured-jumbotron {
  & &-headline {
    color: white;
    font-weight: 600;
  }

}

.featured-jumbotron.featured-jumbotron-dark .btn.btn-primary {
  color: white;
  background-color: @brand-primary;
  border-color: @brand-primary;
}

.jumbotron.featured-jumbotron {
  h1 {
    margin-bottom: 25px;
    font-size: 32px;

    &:after {
      margin: 15px auto 0;
      border-color: #fff;
    }
  }
}

.jumbotron {
  p {
    font-size: 16px;
    font-weight: 400;
  }

  a {
    width: 260px;
  }
}

h2 {
  text-transform: uppercase;
}

.europe-faq {
  padding: 50px 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  p {
    font-size: 21px;
    font-weight: 300;
  }

  &:before {
    content: "";
    display: block;
    width: 250px;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 200px;
    z-index: -1;
    background-image: url(../../../content/europe/images/faq-left-bg.svg);
    left: 0;
    background-position: bottom left;
    height: 275px;
  }

  &:after {
    content: "";
    display: block;
    width: 250px;
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 200px;
    z-index: -1;
    background-image: url(../../../content/europe/images/faq-right-bg.svg);
    right: 0;
    background-position: bottom right;
    height: 260px;
  }
}

.europe-testimonials {
  background-color: #0f1a38;
  background-image: url(../../../content/europe/images/testimonials-bg.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  color: #fff;
  padding: 40px 0;

  h2 {
    color: #fff;
  }

  .item {
    padding: 20px;
  }
}

.europe-testimonials-logo {
  background-color: #fff;
  border-radius: 200px;
  color: #000;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 20px;

  img {
    max-width: 80px;
    max-height: 75px;
    margin: 0 auto;
  }
}

.europe-video {
  text-align: center;
  padding: 40px 0 50px;
  position: relative;
  overflow: hidden;

  h2 {
    margin-bottom: 30px;
    color: #f7941e;
  }
}

.europe-resources {
  text-align: center;
  padding: 40px 0 50px;
  background-color: #f3f3f4;

  h2 {
    margin-bottom: 30px;
  }
}

.europe-resources-item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
}

.europe-resources-img {
  width: 100px;
  height: 100px;
}

@media (min-width: 768px) {
  .europe-video {
    &:before {
      content: "";
      display: block;
      width: 300px;
      height: 600px;
      position: absolute;
      top: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../../../content/europe/images/faq-left-bg.svg);
      left: 0px;
      background-position: bottom left;
    }

    &:after {
      content: "";
      display: block;
      width: 300px;
      height: 600px;
      position: absolute;
      top: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../../../content/europe/images/faq-right-bg.svg);
      right: 0;
      background-position: bottom right;
    }
  }
}
