/*!
 * Copyright (c) 2019, 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '~eclipsefdn-solstice-assets/less/astro/main.less';
@import '_variables.less';

// layout styling
p:empty {
	display: none;
}

main {
	padding-bottom: 0;
}

.wrapper {
	margin-right: 40px;
}

.list-org img {
	max-height: 125px;
	padding: 10px 25px;
}

.section {
	h1 {
		color: #004D66;
		font-size: 34px;
		font-weight: 700;
	}

	h2 {
		color: #f59646;
		font-size: 28px;
		font-weight: 200;
	}

	h3 {
		color: #004D66;
		font-size: 20px;
		font-weight: 700;
	}

	p,
	li {
		font-size: 16px;
		font-weight: 400;
	}
}

.row-gray {
	background-color: #f4f4f4;
}

.element {
	left: -150px;
	position: absolute;
}

.end {
	margin-bottom: 0;
}

// Project archetype styling
.project-topic {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	background: @brand-tertiary;
	color: #fff;
}
.project-item .project-type {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}

.success-project {
	background: @brand-tertiary;
	color: #fff;
}

.running-project {
	background: #DA7F0E; // dark orange
	color: #fff;
}

.friend-project {
	background: @brand-tertiary;
	color: #fff;
}

.reseach-project-list .project-item img {
	max-height: 150px;
}

@media(min-width: 992px) {
	.reseach-project-list .project-item img {
		max-height: 100px;
	}
}

.featured-jumbotron {
  & &-headline {
    margin-bottom: 10rem;
    color: @white;
    text-shadow: unset;
    font-weight: 500;
    text-align: center;
  }
}

.research-custom-jumbotron {
  margin-top: 20rem;
}

.header-research-bg-img .featured-jumbotron {
  position: relative;
  background-color: @regal-blue;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: 20rem;
  }

  &::before {
    background: @header-default-bg-img;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    background: linear-gradient(to bottom, @regal-blue 0%, transparent 35%, transparent 65%, @regal-blue 100%);
  }
}

@media (min-width: @screen-sm-min) {
  .research-custom-jumbotron {
    margin-top: 13rem;
  }
}

@media (min-width: @screen-md-min) {
  .featured-jumbotron {
    & &-headline {
      text-align: left;
      margin-bottom: 2rem;
    }
  }

  .header-research-bg-img .featured-jumbotron {
    &::before,
    &::after {
      top: 0;
      left: 60%;
      width: calc(100% - 60%);
      height: 100%;
    }

    &::after {
      background: linear-gradient(to right, @regal-blue 0%, transparent 35%);
    }
  }
  
  // Add gap between jumbotron content and image
  .research-custom-jumbotron {
    margin-top: unset;
  }
}

.overflow-hidden {
	overflow: hidden;
}

// home - value tiles
#our-value ul.list-inline li {
	& {
		padding: 0 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&:nth-child(odd) {
		border-right: 1px solid #ccc;
	}

	&:last-child {
		border-right: none;
	}
}

@media (min-width: 992px) {
	#our-value ul.list-inline li {
		border-right: 1px solid #ccc;
	}
}

// Custom Jumbotron
.jumbotron {
	.home-custom-jumbotron {
		@media (min-width: @screen-sm-min) {
			text-align: center;

			:first-child {
				text-align: left;
			}

			:last-child {
				text-align: right;
			}

			:only-child {
				text-align: center;
			}
		}

		@media (min-width: @screen-sm-min) {
			.research-logo-wrapper { // won't take available height in row
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				align-items: center;
				justify-content: center;
			}
		}

		.research-logo {
			max-width: 36rem;

			@media (max-width: @screen-sm-max) {
				margin-top: 2rem;
			}
		}
	}
}

.featured-jumbotron {
	h1 {
		text-align: center;

		@media (min-width: @screen-sm-min) {
			text-align: left;
		}

		&::after {
			display: none;
		}
	}
}

// Newsroom Resources
.newsroom-resource-card {
    border: 1px solid #E6E6E6;
    box-shadow: 10px 10px 10px #A7A2A229;
    padding: 0;
	margin: auto;
    width: 60%;
    margin-bottom: 2em;

    @media (min-width: @screen-xs-min) {
        width: 60%;
    }

    @media (min-width: @screen-sm-min) {
        width: 40%;
    }

    @media (min-width: @screen-md-min) {
        margin-right: 3em;
        width: 20%;
    }

    .image-container {
        display: block;

        img {
            width: 100%;
        }
    }

    .success-stories-download {
        display: block;
        width: 100%;
        font-size: 18px;
    }

}

.newsroom-resource-card-match-height {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.image-container {
		height: 100%;
		background-color: @mid-gray;

		@media (min-width: @screen-md-min) {
			height: 29.75rem; // approximate height of case study covers
		}

		img {
			height: 100%;
			object-fit: contain;
			object-position: 50% 50%;
		}
	}
}

// Projects Widget
.featured-projects {
	margin-top: 2em;

	li:nth-child(3n) .tpl-projects-research {
		margin-right: 0;
	}
}

.tpl-projects-research {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	margin-right: 1em;
	box-shadow: 10px 8px 6px #908E8E29;
	backdrop-filter: blur(17px);
	-webkit-backdrop-filter: blur(17px);

	@media(min-width: @screen-xs-min) {
		min-width: unset;
		width: 100%;
	}

	.featured-projects-item-content .link {
		max-width: 70%;
		min-height: 6em;
	}

	.featured-projects-website-url a {
		margin-bottom: 0.75em;
		color: @mid-blue;
		white-space: nowrap;
	}

	.featured-projects-website-url-bar {
		height: 1px;
		background-color: @mid-blue;
	}

	.featured-projects-website-url-bar,
	.featured-projects-website-url a {
		display: block;
		width: 33%;
	}

	@media (min-width: @screen-md-min) {
		.featured-projects-website-url-bar,
		.featured-projects-website-url a {
			width: 50%;
		}
	}

	.featured-projects-item-category {
		background-color: @dark-gray;
	}

	.details {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex-grow: 1;

		p {
			margin: 10px 0 0;
		}
	}

	.featured-projects-website-url a {
		display: inline-block;
		text-align: right;
		padding-right: 1em;
		color: @mid-blue;

		&:hover {
			color: darken(@mid-blue, 20%);
		}

		&:visited {
			color: @mid-blue;
		}
	}

	.featured-projects-item-content {
		padding-top: 0;
		padding-bottom: 2em;
	}
}


//== Project Pages

// Sidebar Layout
.research-sidebar {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  &-item {
    flex-basis: calc(50% - 1rem);
    aspect-ratio: 1;
  }

  &-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: unset;
  }

  &-badge {
    flex-basis: 100%;
    max-height: 18rem;

    img {
      width: 100%;
      max-width: 16rem;
      object-fit: contain;
      max-height: 8rem;
      margin:auto;
    }
  }

  @media (min-width: @screen-sm-min) {
    flex-direction: column;

    &-item {
      aspect-ratio: unset;
    }

    &-badge {
      max-height: unset;
    }
  }
}
