{{#projects}}
<li class="col-md-6 col-sm-12 col-xs-24">
   <div class="featured-projects-item tpl-projects-research match-height-item-by-row" data-mh="m-header">
      <div class="featured-projects-item-category category labels">{{ name }}</div>
      <div class="featured-projects-item-content">
         <a href="{{ websiteUrl }}" class="link">
          <img class="featured-projects-item-img img-responsive logo logo_alt" alt="{{ name }}" src="{{ logo }}" height="40">
        </a>
         <div class="featured-projects-item-text">
            <p class="description">{{ summary }}</p>
         </div>
      </div>
      <div class="details">
         <div class="featured-projects-website-url">
            <a href="{{ websiteUrl }}">Read More</a>
            <span class="featured-projects-website-url-bar"></span>
         </div>
         {{#projectTopic}}
           <p>Main topic: <strong>{{ projectTopic }}</strong></p>
         {{/projectTopic}}
      </div>
   </div>
</li>
{{/projects}}
