/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '../../styles.less';

h1 {
  text-align: center;
}

.governance-tile-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: stretch;
  max-width: 90rem;
  margin: 6rem auto;
  position: relative;
}

.governance-tile {
  width: 100%;
  color: @black;
  a {
    color:inherit;
    display: block;
    height: 100%;
    text-decoration: none;
  }

  @media (min-width: @screen-sm-min) {
    width: calc(50% - 2rem);
  }

  @media (min-width: @screen-md-min) {
    width: calc(33.33% - 2rem); // 2rem is gap
    aspect-ratio: 1;
  }
}

