<!--
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<!-- close default .container div -->
</div>

<div class="container-fluid sponsor-collaboration">
  <div class="row">

    <div class="col-md-6 match-height-item-by-row col-md-offset-6">
      <h2>Sponsor as an Organisation</h2>
      <p>Complete the <a href="/org/workinggroups/sponsorship/working-group-sponsorship-agreement.pdf">sponsorship
          agreement form</a>, to sponsor any of the <a href="/org/workinggroups/explore.php">Eclipse Foundation Working
          Groups</a>. </p>
    </div>

    <div class="col-md-6 match-height-item-by-row">
      <h2>Sponsor as an Individual</h2>
      <p>Individuals can also <a href="/sponsor/">sponsor to the Eclipse Foundation</a>.</p>
    </div>
  </div>
</div>

<!-- re-open default .container div -->
<div class="container padding-bottom-20">
