/*!
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '../styles.less';

//== Jumbotron

.featured-jumbotron {
  padding-top: 24rem;
  padding-bottom: 4rem;
  background: url('../images/careers/jumbotron.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 45% 35%;
  
  // Links container
  .list-inline {
    text-align: center;
  }

  .btn {
    padding: 1.5rem 2rem;
    border-radius: 9999px;
    font-weight: bold;
  }

  @media (min-width: @screen-lg-min) {
    padding-top: 36rem;
  }
}

.bg-what-we-do {
  background: url('../images/careers/what-we-do.jpg');
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
  min-height: 24rem;
}

.bg-current-positions {
  background: url('../images/careers/current-positions.jpg');
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
  min-height: 24rem;
}

@media (min-width: @screen-sm-min) {
  .split-col.bg-what-we-do + .split-col,
  .split-col.bg-current-positions + .split-col {
    min-height: 60rem; 
  }
}

.eclipsefdn-video-with-js,
.eclipsefdn-video-with-js img {
  max-height: 47.9rem;
}

.eclipsefdn-video-with-js img {
  object-fit: cover;
}

.split .split-col {
  max-width: 128rem;
  @media (min-width: @screen-sm-min) {
    min-height: 32rem;
  }
}

.eclipsefdn-video-with-js {
  aspect-ratio: 16/9;

  &,
  img {
    max-height: unset;
  }
}

//== Testimonials

.careers-testimonials {
  color: @black;

  .testimonial img {
    display: block;
    margin: 4rem auto;
  }
}
