<!--
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<div class="row featured-section-row-dark-bg padding-top-20 padding-bottom-60">
    <div class="container">
        <section class="row">
          <div class="col-lg-18 col-lg-offset-3">
            <div class="row">
              <div class="eclipsefdn-featured-project-committer"></div>
            </div>
          </div>
        </section>
        <section class="stats-row">
            <div class="stats-row-circles margin-bottom-60 hidden-sm hidden-xs">
                {{ range seq 6 }}
                    <span class="circle"></span>
                {{ end }}
            </div>
            <h3 class="margin-bottom-60">Eclipse Foundation by the Numbers</h3>
            <div class="stats">
                <div class="stats-item">
                    <span class="stats-item-stat">415+</span>
                    <span class="stats-item-subject">Projects</span>
                </div>
                <div class="stats-item">
                    <span class="stats-item-stat">450M+</span>
                    <span class="stats-item-subject">Lines of Code</span>
                </div>
                <div class="stats-item">
                    <span class="stats-item-stat">2000+</span>
                    <span class="stats-item-subject">Committers</span>
                </div>
                <div class="stats-item">
                    <span class="stats-item-stat">350+</span>
                    <span class="stats-item-subject">Members</span>
                </div>
                <div class="stats-item">
                    <span class="stats-item-stat">65+</span>
                    <span class="stats-item-subject">Staff Members</span>
                </div>
                <div class="stats-item">
                    <span class="stats-item-stat">21</span>
                    <span class="stats-item-subject">Industry Collaborations</span>
                </div>
            </div>
        </section>
    </div>
</div>
